<!DOCTYPE html>
<html>

<head>
    <title>ZLab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'index' %>

</head>

<body>


    <div class="container fluid">
        <%= yield %>
    </div>

    <div class="fixed-bottom">

    </div>

</body>

</html>